body, html {
  margin: 0;
}

* {
  font-family: 'Menlo', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}