body, html {
  margin: 0;
}

* {
  font-family: 'Menlo', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
}

h1 {
  margin-bottom: 10px;
}

h6 {
  opacity: .7;
  font-size: 18px;
  margin-top: 0px;
}

::-webkit-scrollbar {
  display: none;
}